$cor-branca: #FFFFFF;
$cor-background: #F8F9FD;
$cor-azul-claro: #F2F7FF;
$cor-azul-primario: #14ADD6;
$cor-azul-secundario: #384295;
$cor-cinza-40: #D9D9D9;
$cor-cinza-50: #D0D0D0;
$cor-error: #ff0000;

$green-500: #10b981;

$fonte-pequena: 12px;
$font-regular: 14px;
$fonte-padrao: 16px;
$fonte-subtitulo: 20px;
$fonte-titulo: 26px;

$text-color-padrao: #262626;

@mixin botao($color, $width, $height, $background) {
  all: unset;
  width: $width;
  height: $height;
  background: $background;
  color: $color;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.6s;
  }

  @media (max-width: 745px) {
    width: 100%;      
  }
}

@mixin input-padrao($width, $height, $border-color, $focus-color) {
  all: unset;
  box-sizing: border-box;
  outline: 0;
  border-radius: 10px;
  border: 1px solid $border-color;
  width: $width;
  height: $height;
  padding: 10px;

  &:focus {
    border: 1px solid $cor-cinza-50;
  }
}

.botao-salvar {
  @include botao($cor-branca, 21.8rem, 3.12rem, linear-gradient(100deg, $cor-azul-primario, $cor-azul-secundario))
}

.botao-buscar {
  @include botao($cor-branca, 21.8rem, 3.12rem, $cor-azul-primario)
}

.botao-novo {
  @include botao($cor-branca, 21.8rem, 3.12rem, $green-500)
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  @media (max-width: 745px) {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.input-buscar {
  @include input-padrao(24rem, 3.12rem, $cor-cinza-40, $cor-cinza-50);
}

.input-msg-error {
  color: $cor-error;
  font-style: italic;
  font-size: $fonte-pequena;
}