<div class="container">
    <div class="container-left">
        <div class="container-form">
            <div class="container-form-header">
                <div class="container-header-logo">
                    <img src="assets/img/logo.jpg" alt="logo">
                </div>
                <div class="container-header-cadastrar">
                    <button class="botao-cadastro">
                        Cadastrar-se
                    </button>          
                </div>
            </div>
            <form [formGroup]="formulario">
                <span>
                    Efetuar Login
                </span>
                <div class="input-group">
                    <mat-label>Usuário</mat-label>
                    <input class="input-login" type="text" matInput placeholder="Usuário" formControlName="Usuario" />
                    @if (f.Usuario?.touched && f.Usuario.hasError('required')) { 
                        <span class="input-msg-error"> Campo obrigátorio </span>  
                    }  
                </div>
    
                <div class="input-group">
                    <mat-label>Senha</mat-label>
                    <input class="input-login" type="password" matInput placeholder="Senha" formControlName="Senha" />
                    @if (f.Senha?.touched && f.Senha?.hasError('required')) {
                        <span class="input-msg-error"> Campo obrigátorio </span>
                    }
                </div>
            </form>
            <div class="container-buttons">
                <button
                    class="botao-salvar"
                    [disabled]="formulario.invalid"
                    (click)="salvar()"
                >Entrar</button>
            </div>
        </div>
    </div>
    <div class="container-image">
        <img src="assets/img/login.png" alt="imagem teste">
    </div>
</div>